/* Variables */

:root {
  --basic-ferrara-blue: #293449;
  --basic-background-color: #888888;
  --basic-white: #ffffff;
  --basic-white-grey: #F3F7F8;
  --basic-grey-white: rgba(255, 255, 255, 0.5);
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --basic-grey-opacity: rgba(197, 197, 197, 0.3);
  --basic-dark-opacity: rgba(169, 169, 169, 0.3);
  --basic-dark-gradient: linear-gradient(0deg, #212A3A, #212A3A);
  --basic-green: #63A63E;
  --basic-green-bright: #5FBB2D;
  --basic-black-grey: #161D29;
  --basic-black-dark: #000000;
  --basic-white-matt: #EAEAEA;
  --basic-red: #EE3643;
  --basic-blue: #3BBCE3;
  --basic-turquoise: #DC91D8;
  --basic-khaki: #8ED78F;
  --basic-gold: #FFC047;
  --basic-gold-light: #F7F3EC;
  --basic-white-dark: #F2F6F8;
  --basic-red-dark: #CA2C37;
  --basic-gold-dark: #FFDA96;
  --basic-background: #F1F5F7;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-greylight-light: #32425C;
  --basic-greylight-dark: #1D2739;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowligh: #FFD180;
  --special-grey-dark: #F9F5F0;
  --special-grey-opacity: #A9A9A9;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --grey: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  background-position: top center;
  background-repeat: no-repeat;
}


.page {
  height: 100%;
}

.page a {
  text-decoration: none;
}




.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.center {
  width: 940px;
  margin: 0 auto;
}

/* Main menu */

.main-header {
  margin-bottom: 59px;
}

.main-container-wrapper {
  background-color: var(--basic-ferrara-blue);
}


.main-menu {
  display: flex;
  min-height: 42px;
  align-items: center;
  background-color: var(--basic-ferrara-blue);
  justify-content: space-between;
}

.main-menu-logo {
  position: relative;
  padding: 13px 57px 4px 56px;
  background-color: var(--basic-red);
  margin-right: 0px;
  box-shadow:  0 5px 0 0 #BB3A43;
}


.main-menu-items {
  margin: 0px;
  padding: 0px;
}

.main-info-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: var(--basic-white-grey);
}


.main-navigation-wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--basic-white-grey);
  padding-bottom: 60px;
}



.main-header-logo {
  background-color: var(--basic-red);
  width: 220px;
  height: 47px;
}

.main-header-logo:active {
  background-color: var(--error);
}

/* Main navigation */

.main-menu-items,
.site-navigation {
  list-style: none;
  color: var(--basic-white);
  font-size: 16px;
  line-height: 20px;
}

.site-navigation li:hover {
  background: var(--basic-greylight-dark);
}


.site-navigation li:active {
  background: var(--basic-greylight-dark);
  color: var(--basic-white);
  opacity: 0.5;
}

.main-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 45px;
  background-color: var(--basic-white-grey);
}

.main-info-description {
  max-width: 197px;
  margin-left: 30px;
}

.main-login {
  display: flex;
  min-height: 45px;
}

.main-header a {
  color: var(--basic-white);
}

.main-menu-items {
  text-decoration: none;
  display: flex;
  font-size: 18px;
}

.main-menu-items li:hover svg {
  fill: var(--basic-white);
}

.main-menu-items svg {
  fill: var(--basic-grey-white);
}

.main-menu-items li:active svg {
  fill: red;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-not-sale p{
  visibility: hidden;
}

.item-bookmark:active,
.item-cart:active,
.item-bookmark span:active {
  background-color: var(--basic-black-grey);
  color: var(--basic-grey-white);
}

.item-bookmark {
  position: relative;
  margin-top: 5px;
  width: 150px;
}

.item-bookmark svg {
  position: absolute;
  left: -23px;
}

.item-cart {
  margin: 5px 17px 0px 5px;
  position: relative;
}

.item-cart svg{
  position: absolute;
  left: -25px;
}

.item-search {
  position: relative;
  margin-right: 50px;
  margin: 0px;
  padding: 0px;
  width: 271px;
  margin-left: 30px;
}

.item-search svg {
  position: absolute;
  left: -20px;
  top: 5px
 
}


.item-search input:focus {
  background-color: var(--basic-white);
  color: var(--basic-grey-white);
  border-color: var(--basic-white);
}

.main-menu-items li:focus svg {
  fill: red;
}

.main-menu-items input {
  background-color: var(--basic-ferrara-blue);
  color: var(--basic-ferrara-blue);
  border-color: var(--basic-ferrara-blue);
}

.menu-button {
  background-color: var(--basic-green);
  padding: 9px 16px 9px 19px;
}

.menu-button:hover {
  background-color: var(--basic-green-bright);
}

.menu-button:active {
  background-color: var(--basic-green);
}

/* Main-info */

.main-info i {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
}

.main-contacts {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0px;
  width: 270px;
  min-height: 40px;
  margin-bottom: 3px;
  border: 3px solid var(--basic-white);
}

.main-info-container {
  margin-left: 20px;
  margin-bottom: 40px;
}

.main-contacts a {
  color: var(--basic-red);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.main-contacts span {
  transform: translate(35px, 0px);
}

.main-contacts svg {
  transform: translate(-10px, 2px);
}

.main-info span {
  color: var(--basic-greylight-light);
  font-size: 14px;
  line-height: 24px;
  margin-left: 15px;
}

.main-login {
  margin: 0px;
}

.main-login a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  max-height: 45px;
  color: var(--basic-black-dark);
}

.main-login svg {
  left: 10px;
}

.main-login a:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 10px;
  min-width: 121px;
}

.main-login a:nth-child(2) {
  min-width: 150px;
}

.main-login svg {
  fill: var(--basic-greylight);
  margin-right: 5px;
  margin-left: 20px;
}

.main-login a:hover {
  color: var(--basic-red);
}

.main-login a:hover svg {
  fill: var(--basic-grey);
}

/* Main-navigation */

.site-navigation {
  display: flex;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--basic-ferrara-blue);
  margin: 0px;
  padding: 0px 25px 0px 25px;
}

.site-navigation li {
  font-size: 18px;
  padding: 20px 28px;
}



/* Main-container */

.container {
  background-color: var(--basic-white);
}


.container-wrapper {
  padding: 0 10px;
}

.features {
  margin-bottom: 59px;
}

.container-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  min-height: 123px;
  grid-gap: 20px;
}

.features-list li {
  display: flex;
}

.features-list h3 {
  margin: 0px;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 30px;
}

.feature-item-button {
  background: var(--basic-white-opacity);
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.feature-item {
  position: relative;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  min-height: 123px;
  padding-left: 23px;
  padding-right: 31px;
  color: var(--basic-white);
   overflow: hidden;
}

.feature-item-block-new {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-red);
  transform: rotate(45deg);
  top: 10px;
  right: -33px;
  height: 30px;
  font-size: 14px;
  width: 105px;
  text-align: center;
  margin-left: 0px;
  overflow: hidden;
}


.feature-item-button:hover {
  background-color: var(--basic-grey-opacity);
}

.feature-item-button:active {
  background-color: var(--basic-dark-opacity);
}

.feature-item-materials {
  background-color: var(--warning);
}

.feature-item-materials svg {
  margin-left: 55px;
}

.feature-item-drill {
  background-color: var(--basic-blue);
}

.feature-item-tractor {
  background-color: var(--basic-turquoise);
}

.feature-item-truck {
  background-color: var(--basic-khaki);
}

.feature-item-truck svg {
  margin-right: 10px;
}

.feature-item-car {
  background-color: var(--warning);
}

.feature-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 38px;
}

.feature-item-block {
  display: flex;
  flex-direction: column;
}

/* slider */

.slider {
  display: flex;
  flex-direction: column;
  background-image: url(../img/perforators.png);
  width: 620px;
  min-height: 266px;
}

.slider-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  min-height: 104px;
  background: rgba(0, 0, 0, 0.25);
  color: var(--basic-white);
}


.slider-list h3 {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 5px;
  margin-top: 23px;
  margin-left: 24px;
}

.slider-list span {
  margin-left: 24px;
}

.slider-button {
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-red);
  text-transform: uppercase;
  color: var(--basic-white);
  width: 192px;
  font-size: 14px;
  min-height: 38px;
}

/* products */

.products {
  margin-bottom: 45px;
}

.products-items {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
  list-style: none;
}


.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
  padding-right: 14px;
  min-height: 89px;
}

.header-items {
  background-color: var(--special-grey-dark);
  color: var(--basic-greylight-light);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.products-items-wrapper {
  background-color: var(--basic-white);
}

.header-items p {
  width: 192px;
}

.header-items h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.products-item,
.firms-item {
  margin: 0px;
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
}

.firms {
  padding-bottom: 65px;
}

.products-item {
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--basic-white-matt);
}

.product-inner {
  display: flex;
  width: 218px;
  min-height: 318px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.products-item img {
  margin: auto;
}

.products-item div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
  margin-right: 7px;
}

.products-item:nth-child(4) {
  margin-right: 0px;
}

.firms-items {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-gap: 12px 20px;
}

.firms-item img {
  outline-offset: -1px;
  outline: 1px solid var(--basic-white-matt);
}

.firms-items-wrapper {
  background-color: var(--basic-white);
}

.products-item h3 {
  text-align: center;
  max-width: 185px;
  color: var(--basic-black-dark);
  line-height: 20px;
  font-size: 18px;
  margin: 0 auto;
}

.products-item span {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
  font-size: 17px;
  line-height: 18px;
  width: 120px;
  height: 38px;
}

.products-item span::before {
  position: absolute;
  content: "";
  left: 107px;
  width: 27px;
  height: 27px;
  background-color: var(--basic-red);
  transform: rotate(45deg);
}



.products-item p {
  color: var(--special-grey-opacity);
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  margin-bottom: 13px;
  margin-top: 10px;
  display: block;
}

/* services */

.services-wrapper {
  background-color: var(--basic-background);
  height: 522px;
  
}

.services-form-wrapper {
  display: flex;
  justify-content: start;
}

.services-form  {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 240px;
  vertical-align: middle;
}

.service-block {
  display: flex;
  align-content: flex-start;
  justify-content: start;
  margin-top: 0px;
}

.service-block h3{
  margin-top: 0px;
  font-style: normal;
font-weight: normal;
}


.service-block-delivery div{
  position: relative;
  margin-left: 80px;
}

.service-block-delivery-img {
  position: absolute;
  left: 150px;
  top: 20px;
  width: 468px;
  height: 261px;
}

.services-form label {
  background-color: var(--basic-greylight-light);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  min-height: 49px;
  padding-top: 13px;
  padding-left: 22px;
}

.services-form label:hover {
  background-color: var(--basic-ferrara-blue);
}

.services-form input:checked+label {
  background-color: var(--basic-white);
  color: var(--basic-greylight-light);

}

.services h3 {
  color: var(--basic-black-dark);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}


.services p {
  color: var(--basic-black-dark);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-title {
  color: var(--basic-black-dark);
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.services {
  padding-top: 40px;
  background-color: var(--basic-background);
  background-image: url("../img/Object.png");
  background-position: 235px 180px;
  background-repeat: no-repeat;
  z-index: 1;
}

.services-title h2 {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 23px;
}

.services-title p {
  margin: 0px;
  margin-bottom: 70px;
}

/* company-info */

.company-info {
  display: flex;
  justify-content: space-between;
  color: var(--basic-black-dark);
  background-color: var(--basic-white);
  padding-bottom: 70px;
}

.company-info div h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.company-contacts-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.company-contacts-wrapper button {
  min-width: 300px;
  margin-top: 25px;
}

.company-contacts {
  margin-top: 45px;
}

.company-contacts p{
  font-family: PT Sans, Arial, sans-serif;
  margin-bottom: 32px;
}

.company-contacts h2{
  font-weight: normal;
}

.company-plus p{
  font-weight: normal;
  font-family: PT Sans, Arial, sans-serif;
  margin: 0px;
}

.company-plus div{
  display: flex;
  flex-direction: column;
  width: 460px;
  min-height: 147px;
}

.company-plus-title {
  margin-top: 70px;
  font-weight: normal;
  margin-bottom: 15px;
}

.company-plus .button {
  margin-top: 5px;
}

.company-info p {
  font-size: 13px;
  line-height: 24px;
}

.company-info p:nth-child(2) {
  margin-top: 25px;
}

.company-partners-items {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px
}

.company-partners-item {
  display: inline-flex;
  align-items: center;
  font-family: Cuprum, Arial, sans-serif;
  list-style: none;
  margin: 0px;
  margin-left: 12px;
  margin-top: 2px;
  margin-bottom: 11px;
}

.company-partners-item::before {
  content: "";
  position: relative;
  left: -9px;
  top: 0px;
  width: 25px;
  height: 2px;
  background-color: red;
}

.company-partners-items-button {

  width: 220px;
  height: 38px;
}

/* footer */

.page-footer-wrapper {
  margin: 0 auto;
}

.page-info-wrapper {
  background-color: var(--basic-greylight-light);
  padding-bottom: 33px;
}

.navigation-wrapper {
  margin-top: 0px;
  margin-bottom: 34px;
  display: flex;
}

.footer-navigation li {
  margin-right: 59px;
}

.footer-navigation {
  margin-top: 37px;
}

.navigation-wrapper li:nth-child(5) {
  margin-right: 0px;
}

.products-wrapper li:nth-child(4) {
  margin-right: -55px;
}

.products-wrapper {
  display: flex;
  margin-top: 0px;
  transform: translateX(22px)
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  background-color: var(--basic-greylight-light);

}

.page-footer li {
  list-style: none;
}

.page-footer li a {
  color: var(--basic-white);
}

.footer-contacts {
  margin-top: 41px;
}

.footer-contacts p { 
  color: var(--basic-white);
}

.footer-navigation ul:nth-child(2) a {
  color: var(--basic-gold-dark);
}

.footer-navigation li:hover {
  text-decoration: underline;
}

.footer-navigation li:active {
  opacity: 0.5;
  text-decoration: none;
}

.social-button {
  background: var(--basic-dark-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  margin-right: 1px;
}

.social-button:hover,
.social-button:active {
  background: var(--basic-red);
}

/* footer-bottom */

.footer-bottom {
  display: flex;
  background-color: var(--basic-ferrara-blue);
  min-height: 107px;
}

.footer-bottom-wrapper {
  display: flex;
  align-items: center;
  background-color: var(--basic-ferrara-blue);

}

.footer-bottom-title {
  color: var(--basic-white);
font-size: 16px;
line-height: 18px;
}

.footer-bottom a {
  color: var(--basic-gold-dark);
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-copyright a:active {
  text-decoration: none;
  color: var(--basic-red);
}

/* catalog */


.pagination-list {
  list-style: none;
}

.pagination-item a {
  text-decoration: none;
  color: var(--basic-black-dark);
  ;
  background-color: var(--basic-white);
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.nav-items {
  display: flex;
  color: var(--basic-black-dark);
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
}

.nav-items li {
  margin-right: 40px;
}

.catalog-nav-items {
  display: flex;
  margin-top: 21px;
}

.container-title-wrapper {
  display: flex;
  background-color: var(--basic-white-dark);
  font-size: 30px;
  color: var(--basic-greylight-light);
  height: 89px;
}

.container-title-wrapper h2 {
  margin-left: 29px;

  font-weight: normal;
}

.catalog-sort-items {
  display: flex;
  justify-content: center;
  background-color: var(--basic-gold-light);
  height: 38px;
  order: -1;
}

.catalog-container {
  display: grid;
  grid-template-columns: 220px 700px;
  gap: 20px;
  margin-top: 20px;
  color: var(--basic-greylight-light);
}

.filter {
  background-color: brown;
  min-height: 640px;
}

.filter-title {
  background-color: brown;
  order: -2;
  padding: 0px;
  background-color: var(--basic-gold-light);
}

.products-item-catalog:nth-child(3n){
  margin-right: 0px;
}

.products-item-catalog:nth-child(4n) {
  margin-right: 20px;
}

.footer-social {
  margin-left: 123px;
  align-self: flex-start;
  margin-top: 18px;
}

.footer-social ul{
  display: flex;
}

.footer-copyright-info {
  display: flex;
  margin-left: 118px;
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
}

.footer-copyright:nth-child(1) {
  margin-right: 50px;
}

.footer-contacts .main-menu-logo {
  position: relative;
  top: -23px;
  padding: 26px 41px 16px 41px;
}